<!DOCTYPE html>
<html>

<head>
  <title>ClassicCharacterObserver</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- This refers to app/javascript/stylesheets/application.scss-->
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
    const whTooltips = {
      colorLinks: true,
      iconizeLinks: true,
      renameLinks: false
    };
  </script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
</head>

<body>
  <%= render partial: 'home/navbar' %>
  <div class="container">
    <%= yield %>
  </div>
   <%= render partial: 'home/footer' %>
</body>

</html>